body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #42564F;
    color: #F7F6E7;
    margin: 0;
    padding: 0;
}

/* Screens */
.screen {
    display: none;
    padding: 20px;
}

.hidden {
    display: none;
}

/* Buttons */
button {
    background-color: #C0EB6A;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #A8D858;
}

/* Day Buttons */
.day-btn {
    display: block;
    text-align: left;
    width: 80%;
    margin: 5px auto;
}

/* Bottom Menu */
#bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #DFDDCS;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#bottom-menu button {
    background: none;
    font-size: 20px;
}
